/* Dracula */
.dracula {
  --background: #282a36;
  --foreground: #f8f8f2;
  --card: #44475a;
  --card-foreground: #f8f8f2;
  --popover: #44475a;
  --popover-foreground: #f8f8f2;
  --primary: #bd93f9;
  --primary-foreground: #282a36;
  --secondary: #44475a;
  --secondary-foreground: #f8f8f2;
  --muted: #44475a;
  --muted-foreground: #6272a4;
  --accent: #ff79c6;
  --accent-foreground: #282a36;
  --destructive: #ff5555;
  --border: #6272a4;
  --input: #6272a4;
  --ring: #bd93f9;
  --chart-1: #bd93f9;
  --chart-2: #8be9fd;
  --chart-3: #50fa7b;
  --chart-4: #ffb86c;
  --chart-5: #ff79c6;
  --sidebar: #21222c;
  --sidebar-foreground: #f8f8f2;
  --sidebar-primary: #bd93f9;
  --sidebar-primary-foreground: #282a36;
  --sidebar-accent: #ff79c6;
  --sidebar-accent-foreground: #282a36;
  --sidebar-border: #6272a4;
  --sidebar-ring: #bd93f9;
}
