/* Monokai */
.monokai {
    --background: #272822;
    --foreground: #f8f8f2;
    --card: #3e3d32;
    --card-foreground: #f8f8f2;
    --popover: #3e3d32;
    --popover-foreground: #f8f8f2;
    --primary: #a6e22e;
    --primary-foreground: #272822;
    --secondary: #49483e;
    --secondary-foreground: #f8f8f2;
    --muted: #3e3d32;
    --muted-foreground: #75715e;
    --accent: #f92672;
    --accent-foreground: #f8f8f2;
    --destructive: #f92672;
    --border: #49483e;
    --input: #49483e;
    --ring: #a6e22e;
    --chart-1: #a6e22e;
    --chart-2: #66d9ef;
    --chart-3: #f92672;
    --chart-4: #fd971f;
    --chart-5: #ae81ff;
    --sidebar: #1e1f1c;
    --sidebar-foreground: #f8f8f2;
    --sidebar-primary: #a6e22e;
    --sidebar-primary-foreground: #272822;
    --sidebar-accent: #f92672;
    --sidebar-accent-foreground: #f8f8f2;
    --sidebar-border: #49483e;
    --sidebar-ring: #a6e22e;
}
