/* Nord */
.nord {
  --background: #2e3440;
  --foreground: #eceff4;
  --card: #3b4252;
  --card-foreground: #eceff4;
  --popover: #3b4252;
  --popover-foreground: #eceff4;
  --primary: #88c0d0;
  --primary-foreground: #2e3440;
  --secondary: #434c5e;
  --secondary-foreground: #eceff4;
  --muted: #3b4252;
  --muted-foreground: #d8dee9;
  --accent: #81a1c1;
  --accent-foreground: #2e3440;
  --destructive: #bf616a;
  --border: #4c566a;
  --input: #4c566a;
  --ring: #88c0d0;
  --chart-1: #88c0d0;
  --chart-2: #81a1c1;
  --chart-3: #a3be8c;
  --chart-4: #ebcb8b;
  --chart-5: #b48ead;
  --sidebar: #2e3440;
  --sidebar-foreground: #eceff4;
  --sidebar-primary: #88c0d0;
  --sidebar-primary-foreground: #2e3440;
  --sidebar-accent: #81a1c1;
  --sidebar-accent-foreground: #2e3440;
  --sidebar-border: #4c566a;
  --sidebar-ring: #88c0d0;
}
