/* One Dark */
.one-dark {
  --background: #282c34;
  --foreground: #abb2bf;
  --card: #21252b;
  --card-foreground: #abb2bf;
  --popover: #21252b;
  --popover-foreground: #abb2bf;
  --primary: #61afef;
  --primary-foreground: #282c34;
  --secondary: #3e4451;
  --secondary-foreground: #abb2bf;
  --muted: #3e4451;
  --muted-foreground: #5c6370;
  --accent: #c678dd;
  --accent-foreground: #282c34;
  --destructive: #e06c75;
  --border: #3e4451;
  --input: #3e4451;
  --ring: #61afef;
  --chart-1: #61afef;
  --chart-2: #c678dd;
  --chart-3: #98c379;
  --chart-4: #e5c07b;
  --chart-5: #e06c75;
  --sidebar: #21252b;
  --sidebar-foreground: #abb2bf;
  --sidebar-primary: #61afef;
  --sidebar-primary-foreground: #282c34;
  --sidebar-accent: #c678dd;
  --sidebar-accent-foreground: #282c34;
  --sidebar-border: #3e4451;
  --sidebar-ring: #61afef;
}
